/* styles.css */
.gradient-text {
  font-family: "LoveHouse", sans-serif;
  font-size: 1.8rem;
  color: #00c3ff;
  text-shadow: 0 0 8px rgba(0, 195, 255, 0.6), 0 0 16px rgba(0, 195, 255, 0.3);
  font-weight: bold;
  margin-bottom: -7px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
